- name: Install Apache with mod-php and php
  apt:
    name:
      - apache2
      - libapache2-mod-php8.2
      - php8.2
    state: present
    update_cache: yes

- name: create local box
  file:
    state: directory
    dest: /local/this-box
    mode: '750'

- name: Store secrets file
  template:
    src: templates/secrets.conf
    dest: /local/this-box/apache.conf
    mode: '600'
    owner: www-data
    group: www-data

- name: Add Apache config for downloads.php.net
  template:
    src: templates/downloads.php.net.conf
    dest: /etc/apache2/sites-available/downloads.php.net.conf
  notify: reload apache

# because we run certbot with certonly, and we use Rewrite in our apache config
# we have to enable rewrite module
- name: Enable Apache php and rewrite modules
  command: a2enmod {{ item }}
  args:
    creates: /etc/apache2/mods-enabled/{{ item }}.conf
  loop:
    - rewrite
    - php8.2
  notify: reload apache

- name: Run certbot tasks
  include_role:
    name: add_certbot
  vars:
    domain: "{{ downloads_domain }}"
    config_file: downloads.php.net.conf
    email: "{{ systems_email }}"

- name: Ensure Apache is started and enabled
  service:
    name: apache2
    state: started
    enabled: yes

# Add deploy cronjob scripts
- include_tasks: deploy.yml

# Run backup cronjob
- include_tasks: backup.yml
