# The following sets up SSL certificate using Let's Encrypt, enables SSL site
# and schedules automatic renewal of the certificates. Parameters are required.
# Note: This certbot role is for apache2 and won't work for nginx

# usage:
# - role: add_certbot
#   vars:
#     domain: "{{ downloads_domain }}"
#     config_file: name.of.file.conf
#     email: "{{ systems_email }}"

- name: Check if all params are set
  fail:
    msg: "Please provide email, domain and config_file to this role"
  when: (email is undefined) or (domain is undefined) or (config_file is undefined)

- name: Install certbot for apache
  apt:
    name:
      - certbot
      - python3-certbot-apache
    state: present
    update_cache: yes

# Use certonly option to obtain the certificate without modifying the Apache configuration
- name: Get LetsEncrypt certificates
  shell: |
    certbot certonly --apache -n --agree-tos --email {{ email }} -d {{ domain }}
  args:
    creates: "/etc/letsencrypt/live/{{ domain }}/fullchain.pem"

# because we run certbot with certonly we have to enable this
- name: Enable SSL module in Apache
  command: a2enmod ssl
  notify: reload apache

# todo move out
- name: Enable SSL site
  command: a2ensite {{ config_file }}
  notify: reload apache

- name: Set up renewal cron job
  cron:
    name: "Renew Let's Encrypt certificates"
    job: "certbot renew --quiet" # 'quiet' is used to suppress the outputs
    state: present
    minute: 0
    hour: 0
    weekday: 1
  notify: reload apache
